@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji";
  }

  h1,
  input,
  select {
    background: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 62, 126, 1)
    );
    -webkit-background-clip: text;
  }
}
